body {
  font-family: 'Josefin Sans', sans-serif;
}

#welcome {
  background-image: url('../piglympics.jpg');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position: relative;
  color: #ffd700;
  height: 100%;
  display: block;
}
